<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="apiBasePath" value="https://bupa.buk.cl/api/v1"/>
    <add key="token" value="WqfsaaS4xm8E3FAnox9eL4LC"/>
    <add key="sftpHost" value="127.0.0.1"/>
    <add key="sftpPort" value="22"/>
    <add key="sftpUserName" value="admin"/>
    <add key="sftpPassword" value="admin@2020"/>
    <add key="sftpPath" value="/"/>
    <add key="sftpBackupPath" value="/Respaldo"/>
    <add key="logsFullPath" value="E:\logs.txt"/>
  </appSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2"/>
  </startup>
</configuration>
